.Background{
    max-width: 120em;
    min-height: 100vh;
    background-color: #FFFFFF;
    
    
}
.InfoProf{
    display: flex;
    height: 30em;
    width: 100%;
    justify-content: center;
    align-items:center ;
}

.Esteban{
    font-family: Esteban;
    font-style: normal;
    font-weight: 400;
}
.Container{
    width: 90%;
    height: 80%;
    display: flex;
}

.Container_LeftPanel{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.BackgroundFoll{
    background-color: #3C956A;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    border-radius: 8px;
    color: white;
    font-family: Esteban;
    font-weight: 400;
}

.ProfilePic{
    border: 2px green solid;
    border-radius: 99px;
}


.Container_RightPanel{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Container_RightPanel_Top{
    width: 100%;
    height: 5%;
display: flex;
justify-content: flex-end;
align-items: center;
}

.EditProfile{
    margin-right: 1em;
    size: 2em;
    color: #3C956A;
}

.Container_RightPanel_Bot{
    width: 100%;
    height: 95%;
    flex-direction: column;
    justify-content: flex-start;
    
    margin-top: 2em;
}

.Description{
    margin-top: 1em;
    font-family: Esteban;
font-style: normal;
font-weight: 400;
}